.ships_wrap {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    margin: 10px;
    padding: 10px;
}
.mission_patch {
    width: 300px;
}
.ship_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}